* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	background-color: #DCDCDC;
	display: flex;
	justify-content: center;
	align-items: center;
}
.full {
	width: 80%;
	max-width: 1000px;
	min-height: 100px;
	background-color: #fff;
	margin: 0px;
	display: grid;
	grid-template-columns: 2fr 4fr;
}
.left {
	position: initial;
	background-color: rgb(168, 218, 224);
	padding: 20px;

}
.right {
	position: initial;
	background-color: rgb(162, 202, 206);
	padding: 20px;

}
.image, .Contact, .Skills, .Language, .Hobbies, .title,
.Summary, .Experience, .Education, .project, .judge {
	margin-bottom: 30px;
}
h2 {
	background-color: #22a6b3;
}
th, td {
    padding-right: 30	px;
}
